[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "generators/decay-gen"]
	path = generators/decay-gen
	url = https://github.com/VitalyVorobyev/decay-gen
